@charset "utf-8";

// FontAwesome
$fa_font_path: "~@fortawesome/fontawesome-free/webfonts";
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';

// OpenSans
$FontPathOpenSans: "~open-sans-fonts/open-sans";
@import '~open-sans-fonts/open-sans';
$family-primary: 'Open Sans';


// First include initial variables and helpers function from Bulma
@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

$primary: #20a9ad;
$info: #2f2c34;
$success: #3fad6c;
$warning: #bc9d34;
$danger:	#f44336;
//$default: #999999;

// Invert colors
$primary-invert: findColorInvert($primary);

// Import the derived variables from Bulma
// It will use our $custom-colors
@import "~bulma/sass/utilities/derived-variables";


// Bulma
@import "~bulma/bulma";
@import '~bulma-slider/dist/css/bulma-slider.sass';


/** 
--------------------------------------------
Card Flip
--------------------------------------------
Setup a mixin for your flip so you can include it into any element that has this or similar structure

 <figure class="card"> <-- can be any class you need.
  <div class="face front"></div> <- required classes
  <div class="face back"> </div>  <- required classes
 </figure>

Supports arguments for Speed and Direction. 
The direction you can specify using "x" "y" or "z"

Use it by putting "@include flip();" in the parent element you want to flip.
You can style the card however you want. Here are some examples. 

*/
@mixin flip($speed: 0.5s, $direction: "y") {
  position: relative;
  transform-style: preserve-3d;
  transition: transform $speed;
  &.flip {
    @if $direction == "x" {
      transform: rotateX(180deg);
    } 
    @if $direction == "y" {
      transform: rotateY(180deg);
    } 
    @if $direction == "z" {
      transform: rotateZ(180deg);
    } 
    transition: transform $speed;
  }
  .face {
    // setup the face of the card to match the size of the card;
    position: absolute;
    top: 0px; left: 0px;
    bottom: 0px; right: 0px;
    backface-visibility: hidden;
    transform: translateZ(0.1px); // fix for safari.
  }
  .back {
    // flip the back
    @if $direction == "x" {
      transform: rotateX(180deg);
    } 
    @if $direction == "y" {
      transform: rotateY(180deg);
    } 
    @if $direction == "z" {
      transform: rotateZ(180deg);
    }   
  }
}

// Ok, lets style the card.
// lets set some good basics going.
.flippableCard {
 text-align:left;
  @include flip(); // include the flip feature.
  user-select: none; // disable selections
  cursor: pointer;  // give the user a hand so they know to click
  width: 12rem; height: 17rem;
  display: inline-block; // stack em!
  zoom:0.5;
  // -moz-transform:scale(0.5);
  // -moz-transform-origin: 0 0;
  margin: 10px;
  .face { // styles that will be applied to each face of the card.
    border-radius: 1.5rem; 

    // background and box-shadow based on https://neumorphism.io/#f2f3f5
    background-image: linear-gradient(225deg, #8d8074, #a8988a);
    box-shadow:  -6px 6px 12px #82766b, 
                 6px -6px 12px #b8a697;
  }
}

.playArea {
  //background-image: url(static/assets/table-top.jpg);
  //background: rgb(209, 228, 228);
  //background: #17A3A4;
  //background: #E5D7C7;
  //background: #CC4632;
  //background: #141414;
  //background: #B4A4A2;

  background: #F6EFEF;
  //background: #94AFAC;
  //background: #17A3A4;
  //background: #CC4632;
  //background: #2F2C34;
    
  // background: -webkit-linear-gradient(rgba(204, 70, 50, 0.8), rgba(23, 163, 164, 0.8));
  // background: linear-gradient(rgba(204, 70, 50, 0.8), rgba(23, 163, 164, 0.8)); /* The least supported option. */
}

// Game card specific styles
.gameCard {
  .face {
    background-size: 1692.56%;
    background-image: url(static/assets/css-sprite-combined.png);
  }
    .front {
      background-position: 0.0518941% 0.117096%;
  }
}

.movingCard {
  opacity: 0.3;
  border: 5px solid #CC4632;
}

.emptyCardPosition {
  opacity: 0.3;
}

/*
resized with
https://bulkresizephotos.com/en?extension=png&resize_value=20
Responsive CSS Sprite created using: https://responsive-css.us/
*/

// .css-sprite-Background-Card, .css-sprite-Card-10Clubs, .css-sprite-Card-10Diamonds, .css-sprite-Card-10Hearts, .css-sprite-Card-10Spades, .css-sprite-Card-2Clubs, .css-sprite-Card-2Diamonds, .css-sprite-Card-2Hearts, .css-sprite-Card-2Spades, .css-sprite-Card-3Clubs, .css-sprite-Card-3Diamonds, .css-sprite-Card-3Hearts, .css-sprite-Card-3Spades, .css-sprite-Card-4Clubs, .css-sprite-Card-4Diamonds, .css-sprite-Card-4Hearts, .css-sprite-Card-4Spades, .css-sprite-Card-5Clubs, .css-sprite-Card-5Diamonds, .css-sprite-Card-5Hearts, .css-sprite-Card-5Spades, .css-sprite-Card-6Clubs, .css-sprite-Card-6Diamonds, .css-sprite-Card-6Hearts, .css-sprite-Card-6Spades, .css-sprite-Card-7Clubs, .css-sprite-Card-7Diamonds, .css-sprite-Card-7Hearts, .css-sprite-Card-7Spades, .css-sprite-Card-8Clubs, .css-sprite-Card-8Diamonds, .css-sprite-Card-8Hearts, .css-sprite-Card-8Spades, .css-sprite-Card-9Clubs, .css-sprite-Card-9Diamonds, .css-sprite-Card-9Hearts, .css-sprite-Card-9Spades, .css-sprite-Card-AceClubs, .css-sprite-Card-AceDiamonds, .css-sprite-Card-AceHearts, .css-sprite-Card-AceSpades, .css-sprite-Card-JackClubs, .css-sprite-Card-JackDiamonds, .css-sprite-Card-JackHearts, .css-sprite-Card-JackSpades, .css-sprite-Card-JokerClubs, .css-sprite-Card-JokerDiamonds, .css-sprite-Card-JokerHearts, .css-sprite-Card-JokerSpades, .css-sprite-Card-KingClubs, .css-sprite-Card-KingDiamonds, .css-sprite-Card-KingHearts, .css-sprite-Card-KingSpades, .css-sprite-Card-QueenClubs, .css-sprite-Card-QueenDiamonds, .css-sprite-Card-QueenHearts, .css-sprite-Card-QueenSpades, .css-sprite-Dark-Background-Card 
// {display:inline-block; overflow:hidden; background-repeat: no-repeat; width: 242px; height: 340px;
// background-image:url(css-sprite-combined.png);}

.css-sprite-Background-Card {background-position: 0.0518941% 0.117096%; }
.css-sprite-Card-10Clubs {background-position: 6.38298% 40.1639%; }
.css-sprite-Card-10Diamonds {background-position: 12.7141% 40.1639%; }
.css-sprite-Card-10Hearts {background-position: 19.0451% 40.1639%; }
.css-sprite-Card-10Spades {background-position: 25.3762% 40.1639%; }
.css-sprite-Card-2Clubs {background-position: 6.38298% 0.117096%; }
.css-sprite-Card-2Diamonds {background-position: 12.7141% 0.117096%; }
.css-sprite-Card-2Hearts {background-position: 19.0451% 0.117096%; }
.css-sprite-Card-2Spades {background-position: 25.3762% 0.117096%; }
.css-sprite-Card-3Clubs {background-position: 31.7073% 0.117096%; }
.css-sprite-Card-3Diamonds {background-position: 38.0384% 0.117096%; }
.css-sprite-Card-3Hearts {background-position: 44.3695% 0.117096%; }
.css-sprite-Card-3Spades {background-position: 50.7006% 0.117096%; }
.css-sprite-Card-4Clubs {background-position: 57.0317% 0.117096%; }
.css-sprite-Card-4Diamonds {background-position: 63.3627% 0.117096%; }
.css-sprite-Card-4Hearts {background-position: 69.6938% 0.117096%; }
.css-sprite-Card-4Spades {background-position: 76.0249% 0.117096%; }
.css-sprite-Card-5Clubs {background-position: 82.3560% 0.117096%; }
.css-sprite-Card-5Diamonds {background-position: 88.6871% 0.117096%; }
.css-sprite-Card-5Hearts {background-position: 95.0182% 0.117096%; }
.css-sprite-Card-5Spades {background-position: 0.0518941% 20.1405%; }
.css-sprite-Card-6Clubs {background-position: 6.38298% 20.1405%; }
.css-sprite-Card-6Diamonds {background-position: 12.7141% 20.1405%; }
.css-sprite-Card-6Hearts {background-position: 19.0451% 20.1405%; }
.css-sprite-Card-6Spades {background-position: 25.3762% 20.1405%; }
.css-sprite-Card-7Clubs {background-position: 31.7073% 20.1405%; }
.css-sprite-Card-7Diamonds {background-position: 38.0384% 20.1405%; }
.css-sprite-Card-7Hearts {background-position: 44.3695% 20.1405%; }
.css-sprite-Card-7Spades {background-position: 50.7006% 20.1405%; }
.css-sprite-Card-8Clubs {background-position: 57.0317% 20.1405%; }
.css-sprite-Card-8Diamonds {background-position: 63.3627% 20.1405%; }
.css-sprite-Card-8Hearts {background-position: 69.6938% 20.1405%; }
.css-sprite-Card-8Spades {background-position: 76.0249% 20.1405%; }
.css-sprite-Card-9Clubs {background-position: 82.3560% 20.1405%; }
.css-sprite-Card-9Diamonds {background-position: 88.6871% 20.1405%; }
.css-sprite-Card-9Hearts {background-position: 95.0182% 20.1405%; }
.css-sprite-Card-9Spades {background-position: 0.0518941% 40.1639%; }
.css-sprite-Card-AceClubs {background-position: 31.7073% 40.1639%; }
.css-sprite-Card-AceDiamonds {background-position: 38.0384% 40.1639%; }
.css-sprite-Card-AceHearts {background-position: 44.3695% 40.1639%; }
.css-sprite-Card-AceSpades {background-position: 50.7006% 40.1639%; }
.css-sprite-Card-JackClubs {background-position: 57.0317% 40.1639%; }
.css-sprite-Card-JackDiamonds {background-position: 63.3627% 40.1639%; }
.css-sprite-Card-JackHearts {background-position: 69.6938% 40.1639%; }
.css-sprite-Card-JackSpades {background-position: 76.0249% 40.1639%; }
.css-sprite-Card-JokerClubs {background-position: 82.3560% 40.1639%; }
.css-sprite-Card-JokerDiamonds {background-position: 88.6871% 40.1639%; }
.css-sprite-Card-JokerHearts {background-position: 95.0182% 40.1639%; }
.css-sprite-Card-JokerSpades {background-position: 0.0518941% 60.1874%; }
.css-sprite-Card-KingClubs {background-position: 6.38298% 60.1874%; }
.css-sprite-Card-KingDiamonds {background-position: 12.7141% 60.1874%; }
.css-sprite-Card-KingHearts {background-position: 19.0451% 60.1874%; }
.css-sprite-Card-KingSpades {background-position: 25.3762% 60.1874%; }
.css-sprite-Card-QueenClubs {background-position: 31.7073% 60.1874%; }
.css-sprite-Card-QueenDiamonds {background-position: 38.0384% 60.1874%; }
.css-sprite-Card-QueenHearts {background-position: 44.3695% 60.1874%; }
.css-sprite-Card-QueenSpades {background-position: 50.7006% 60.1874%; }
.css-sprite-Dark-Background-Card {background-position: 57.0317% 60.1874%; }
